* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1920px;
    height: 2390px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 40px 0 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    column-gap: 20px;
}

.header__logo {
    color: var(--accent-2, #0F4898);
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header__logo span {
    color: #1574B0;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header__menu-link {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__contact-number {
    color: #000;
    text-align: right;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__contact-email {
    color: #000;
    text-align: right;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.projects{
    display: flex;
    flex-direction: column;
    width: 920px;
    height: 450;
top: 925px;
left: 452px;

}
.projects__info,
.projects__image{
    width: 50%;
}
.projects__info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.projects__info-main{
    width: 170px;
height: 28px;
flex-shrink: 0;
color: #000;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.projects__info-title{
    width: 303px;
height: 15px;
flex-shrink: 0;
color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.projects__info-text{
    width: 348px;
height: 124px;
flex-shrink: 0;
color: #000;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 170.66%; /* 22.186px */
}
.projects__image{
    height: 100vh;
    width: 100%;
}
.news{
    width: 825px;
height: 584px;
top: 1575px;
left: 547px;
}
.news__div{
    width: 920px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.news__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.news__title{
    width:170px;
    height: 28px;
    flex-shrink: 0;
    color: black;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.news__text{
    width:303px;
    height: 15pxpx;
    flex-shrink: 0;
    color: black;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.news__button{
    width: 103px;
    height: 13px;
    flex-shrink: 0;
    color: wheat;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: nornal;
    letter-spacing: 0.6px;
    background-color: blue;
    padding: 10px;
    border: black;
    border-radius: 10%;
}
.news__cards{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 50px;
    justify-content: center;
}
.news__card{
    width: 33%;
    border: white;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 20px 0px;
    height: 480px;
}
.news__card h4{
    width: 213px;
    height: 42px;
    flex-shrink: 0px;
    color: black;
    font-family: Roboro;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140.625%;
    letter-spacing: 0.54px;
}
.news__card p{
    width: 215px;
height: 78px;
flex-shrink: 0;
    color: #000;
font-family: Roboto;
font-size: 11px;
font-style: normal;
font-weight: 300;
line-height: 123.047%; /* 13.535px */
letter-spacing: 0.55px;
}